@model List<ProductivityCoach.Models.ViewModels.MyTask>

@{
    ViewBag.Title = "Index";
}

@if (!Request.IsAuthenticated)
{
    <p>This is where your tasks will appear if you log in.</p>
}
else
{
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h3>@User.Identity.Name's Tasks</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h3>Current Date</h3>
            <p>@DateTime.Today.ToString("MM/dd/yyyy")</p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <h4>My Checklists</h4>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <h4>My Time Grinds</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <form>
                @foreach (var MyTask in Model)
                {
                    if (MyTask.TypeName == "Checklist")
                    {
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => MyTask.IsComplete) @MyTask.TaskName 
                            </label>
                        </div>
                    }

                }

                <div class="row">
                    <button type="submit" class="btn btn-success">Did 'Em</button>
                </div>
            </form>

        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <form>
                <select class="form-control">
                    @foreach (var MyTask in Model)
                    {
                        if (MyTask.TypeName == "TimeGrind")
                        {
                            <option>@MyTask.TaskName</option>
                        }
                    }


                </select>
                <br />
                <button type="submit" class="btn btn-info">Start Grinding</button>
            </form>
        </div>

    </div>
    <br />
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <h4>My Countdowns</h4>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <h4>Upcoming Due Dates</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <form>
                @foreach (var MyTask in Model)
                {
                    if (MyTask.TypeName == "Countdown")
                    {
                            <label>
                                @Html.RadioButtonFor(m => MyTask.TaskId, MyTask.TaskId) @MyTask.TaskName @("(" + MyTask.DurationNumber + " " + MyTask.DurationUnit + "s)" )
                            </label>
                        
                    }

                }

                <div class="row">
                    <button type="button" class="btn btn-primary">Start Countdown</button>
                </div>
            </form>

        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <form>
                    @foreach (var MyTask in Model)
                    {
                        if (MyTask.TypeName == "CompleteBy")
                        {
                            <label>
                                @Html.RadioButtonFor(m => MyTask.TaskId, MyTask.TaskId) @MyTask.TaskName  @MyTask.DueDate.Value.ToString("MM/dd/yyyy")
                            </label>
                        }
                    }

                <br />
                <button type="submit" class="btn btn-warning">Turn IN</button>
                <button type="submit" class="btn btn-danger">Cancel Task</button>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-12 col-md-6">
            @Html.ActionLink("Add a Task", "Add", "Task", new { @class = "btn btn-block btn-success"})
        </div> 
        <div class="col-xs-12 col-md-6">
            <button type="button" class="btn btn-block btn-danger">Delete a Task</button>
        </div> 
    </div>

}

